.checkout {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .checkout .div {
    background-color: #d9d9d9;
    height: 1117px;
    position: relative;
    width: 1728px;
  }
  
  .checkout .overlap {
    height: 55px;
    left: 660px;
    position: absolute;
    top: 201px;
    width: 407px;
  }
  
  .checkout .text-wrapper {
    color: #000000;
    font-family: "Wallpoet", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 65px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 388px;
  }
  
  .checkout .line {
    height: 7px;
    left: 0;
    position: absolute;
    top: 47px;
    width: 407px;
  }
  
  .checkout .overlap-group {
    background: linear-gradient(180deg, rgb(218.01, 194.79, 112.46) 0%, rgba(218.01, 112.46, 112.46, 0) 100%);
    height: 837px;
    left: 0;
    position: absolute;
    top: 280px;
    width: 1728px;
  }
  
  .checkout .rectangle {
    background-color: #000000;
    border-radius: 40px;
    height: 735px;
    left: 54px;
    position: absolute;
    top: 51px;
    width: 1620px;
  }
  
  .checkout .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 40px;
    height: 722px;
    left: 61px;
    position: absolute;
    top: 58px;
    width: 1606px;
  }
  
  .checkout .frame {
    background-color: #edbf48;
    border-radius: 40px;
    height: 70px;
    left: 617px;
    overflow: hidden;
    position: absolute;
    top: 665px;
    width: 493px;
  }
  
  .checkout .text-wrapper-2 {
    color: #000000cc;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 12px;
    white-space: nowrap;
    width: 412px;
  }
  
  .checkout .div-wrapper {
    background-color: #edbf48cc;
    border-radius: 40px;
    height: 52px;
    left: 1404px;
    overflow: hidden;
    position: absolute;
    top: 134px;
    width: 108px;
  }
  
  .checkout .text-wrapper-3 {
    color: #000000cc;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 5px;
    white-space: nowrap;
    width: 70px;
  }
  
  .checkout .frame-2 {
    background-color: #edbf48cc;
    border-radius: 40px;
    height: 52px;
    left: 1404px;
    overflow: hidden;
    position: absolute;
    top: 223px;
    width: 108px;
  }
  
  .checkout .frame-3 {
    background-color: #edbf48cc;
    border-radius: 40px;
    height: 52px;
    left: 1404px;
    overflow: hidden;
    position: absolute;
    top: 481px;
    width: 108px;
  }
  
  .checkout .flexcontainer {
    align-items: flex-start;
    
    flex-direction: column;
    gap: 38px;
    height: 392px;
    left: 721px;
    position: absolute;
    top: 105px;
    width: 14px;
  }
  
  .checkout .text {
    align-self: stretch;
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .checkout .span {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .checkout .flexcontainer-2 {
    align-items: flex-start;
    
    flex-direction: column;
    gap: 38px;
    height: 392px;
    left: 483px;
    position: absolute;
    top: 105px;
    width: 227px;
  }
  
  .checkout .flexcontainer-3 {
    align-items: flex-start;
    
    flex-direction: column;
    gap: 38px;
    height: 440px;
    left: 761px;
    position: absolute;
    top: 105px;
    width: 629px;
  }
  
  .checkout .frame-4 {
    background-color: #ff4848;
    border-radius: 40px;
    height: 70px;
    left: 1185px;
    overflow: hidden;
    position: absolute;
    top: 665px;
    width: 344px;
  }
  
  .checkout .text-wrapper-4 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 88px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 12px;
    white-space: nowrap;
    width: 167px;
  }
  
  .checkout .overlap-2 {
    background-color: #edbf48;
    height: 160px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1728px;
  }
  
  .checkout .text-wrapper-5 {
    color: #010101;
    font-family: "Kelly Slab", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 299px;
  }
  
  .checkout .text-wrapper-6 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 463px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 59px;
    width: 118px;
  }
  
  .checkout .text-wrapper-7 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 616px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 59px;
    width: 184px;
  }
  
  .checkout .text-wrapper-8 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 835px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 59px;
    width: 134px;
  }
  
  .checkout .text-wrapper-9 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 1004px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 59px;
    width: 146px;
  }
  
  .checkout .text-wrapper-10 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 1185px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 59px;
    width: 218px;
  }
  
  .checkout .overlap-3 {
    background-image: url(https://c.animaapp.com/z2VCKmEk/img/free-add-to-cart-icon-3046-thumb-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 62px;
    left: 1518px;
    position: absolute;
    top: 54px;
    width: 62px;
  }
  
  .checkout .text-wrapper-11 {
    color: #edbf48;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 7px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 13px;
    white-space: nowrap;
  }
  
  .checkout .overlap-4 {
    height: 55px;
    left: 1623px;
    position: absolute;
    top: 60px;
    width: 55px;
  }
  
  .checkout .text-wrapper-12 {
    color: #edbf48;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 7px;
    white-space: nowrap;
  }
  
  .checkout .img {
    height: 45px;
    left: 5px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 45px;
  }
  